
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&display=swap');


    body{
        font-family: "Oswlald", sans-serif;
    }
    .app-font-courgette{
        
        font-family: "Courgette", cursive;
        font-weight: 1000;
    }